.MatchDetailCard{
    .match-date, .match-venue, .match-result{
        margin-top: 10px;
    }

    margin: 20px 0;
    padding: 20px;

    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;

    
    .leftSide{
        grid-column:span 1 ;
    }

    .rightSide{
        grid-column: span 1;
        text-align: right;

        p{
            margin-bottom: 10px;
        }
    }

}


